body {
	background: linear-gradient(to bottom, #333, #333 50%, #3a3a3a 50%, #3a3a3a);
 	background-size: auto;
  	background-size: 100% 4px;
	color: #ffcccc;
	text-shadow: 0 0 10px #ffa5a5;

	font-size: 1.5em;
  	padding: 0em 0.25em;
}

.page {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.header {
	border: 1px solid #fee;
	border-radius: 5px;
	padding: 5px;
	width: 95%;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	padding-left: 20px;
}
h2 {
	padding-left: 25px;
}

.content {
	padding: 5px;
	width: 95%;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}
.quote {
	padding: 5px;
	width: 95%;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: #ccffff;
	text-shadow: 0 0 10px #ffeeee;
}
a:hover {
	color: #ffaaff;
	text-shadow: 0 0 15px #ff99ff;
}

.menu {
	width: 100%;
}
.menu ul {
	margin:0;
	padding:0;
	float: left;
}
.menu ul li {
	display: inline;
}
.menu ul li a {
	float: left;
	background-color: #655;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	text-align:center;
	padding:4px;
	padding-left:10px;
	padding-right:10px;
}
.menu ul li a:visited {
	float: left;
	background-color: #655;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	text-align:center;
	padding:4px;
	padding-left:10px;
	padding-right:10px;
}
.menu ul li a:hover, .menu ul li a:active, .menu ul li .current {
	float: left;
	background-color: #855;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	text-align:center;
	padding:4px;
	padding-left:10px;
	padding-right:10px;
}

.search-form {
	padding: 5px;
	width: 95%;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

.results {
	padding: 15px;
	padding-left: 30px;
	width: 95%;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}

.results .results-triangle {
	text-align: center;
}

.results .results-triangle table {
	margin-left: auto;
	margin-right: auto;
}
